*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
}

body {
  color: #555252;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fullview,
.image-gallery,
.preview {
  border-radius: 2px;
  box-shadow: 0 0 2px 2px rgb(218, 212, 212);
}

.image-gallery {
  width: 1240px;
  padding: 8px;
  margin-top: 10px;
}

.fullview {
  margin-bottom: 8px;
  height: 460px;
  padding: 8px;
}

.image-fullview {
  width: 100%;
  height: 100%
}

.preview {
  display: flex;
  padding: 8px;
  list-style: none;
}

.image-preview {
  margin-right: 8px;
  width: 100%;
  height: 150px;
}

.image-preview:last-child {
  margin-right: 0;
}
